* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/*-------------------------------*/

body {
    background-color: #dedeea;
    
}

.header {
    background-color: #8488B5;
    padding: 10px 10px 10px 20px;
}

.header a {
    color: white;
    display: block;
    font-size: 23px;
}



.auth {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth::before {
    content: '';
    position: absolute;
    top: 50%; /* Смещение для правильного расположения */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh; /* Размер больше, чем сам элемент */
    height: 50vh;
    border: 2px solid #8488B5; /* Граница круга */
    border-radius: 42%;
    z-index: -1; /* Помещаем круг под основной элемент */
    animation: rotate 20s linear infinite;
    background-color: #8488b517;
}

.auth::after {
    content: '';
    position: absolute;
    top: 50%; /* Смещение для правильного расположения */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh; /* Размер больше, чем сам элемент */
    height: 50vh;
    border: 2px solid #8488B5; /* Граница круга */
    border-radius: 40%; /* Превращаем в круг */
    z-index: -1; /* Помещаем круг под основной элемент */
    animation: rotate 40s linear infinite;
    
}

.auth span {
    content: '';
    position: absolute;
    top: 50%; /* Смещение для правильного расположения */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh; /* Размер больше, чем сам элемент */
    height: 50vh;
    border: 2px solid #8488B5; /* Граница круга */
    border-radius: 38%; /* Превращаем в круг */
    z-index: -1; /* Помещаем круг под основной элемент */
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform:translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

.auth form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.auth input {
    width: 14em;
    height: 3em;
    margin-bottom: 5px;
    padding-left: 10px;
    background: transparent;
    border: 2px solid #8488B5;
    border-radius: 20px;
}

.auth button {
    width: 50%;
    height: 40px;
    margin: auto;
    background: transparent;
    border: 2px solid #8488B5;
    border-radius: 20px;
    transition-duration: 0.3s;
    color: grey;
}

.auth button:hover {
    background-color: #8488B5;
}

.auth p {
    color: #61678b;
}

.auth_registration {
    color: #61678b;
    transition-duration: 0.3s;
}

.auth_registration:hover {
    border-bottom: 1px solid #8488B5;
}


@media (max-width: 990px) {
    .auth::before,
    .auth::after,
    .auth span {
        width: 40vh;
        height: 40vh;
    }
}

@media (max-width: 770px) {
    .auth::before,
    .auth::after,
    .auth span {
        width: 30vh;
        height: 30vh;
    }

    .auth input {
        height: 2em;
        width: 10em;
    }
  }