* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/*---------------------------------*/

body {
    background-color: #dedeea;
}

header {
    background-color: #8488B5;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    display: block;
    font-size: 23px;
}

.login__link {
    color: white;
    display: block;
    font-size: 17px;
}

.burger__menu {
    display: none;
}

.burger__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dedeea;
    border-radius: 50%;
    transition: transform 0.3s, opacity 0.3s
}

.burger__menu.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger__menu.active span:nth-child(2) {
    opacity: 0;
}

.burger__menu.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/*-------------------Burger-----------------------*/

.burger__content {
    display:none;
}

.burger__content a {
    margin-bottom: 20px;
    color: #8488B5;
    font-size: 24px;
}

.burger__content.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 94vh;
    top: 54px;
    left: 0px;
    background-color: #dedeea;
}
/*------------------------------------------*/

main {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    height: 94vh;
    display: flex;
    gap: 10px;
}

.content {
    width: 100%;
}

.sidebar {
    display: flex;
    width: 10%;
    flex-direction: column;
}

.bio {
    display: flex;
    margin-bottom: 20px;
}

.bio__avatar {
    height: 500px;
    width: 60%;
}

.bio__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.bio_info h2 {
    background-color: #8488B5;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

.bio_info {
    width: 100%;
}

.bio_info p {
    margin-top: 20px;
    margin-left: 40px;
}

.wall {
    display: flex;
    justify-content: end;
}

.wall input {
    width: 62%;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    background: transparent;
    border: 1px solid #8488B5;
}

@media (max-width: 1400px) {
    main {
        max-width: 900px;
    }
}

@media (max-width: 990px) {
    main {
        max-width: 700px;
        gap: 30px;
    }

    .sidebar {
        display: none;
    }

    .bio__avatar {
        height: 500px;
        width: 100%;
    }

    .wall input {
        width: 100%;
    }

    .login__link {
        display: none;
    }

    .burger__menu {
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

}

  @media (max-width: 770px) {
    main {
        margin: 0 30px 0 30px;
    }

    .sidebar {
        display: none;
    }

    .bio__avatar {
        height: 120px;
        width: 200px;
        border: 2px solid #8488B5;
        border-radius: 50%;
        overflow: hidden;
    }

    .bio_info h2 {
        background-color: #dedeea;
        color: #8488B5;
    }
}